* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* INIZIO REGOLE GENERALI */
body {
  font-family: "montserrat";
  min-width: 1500px;
  font-size: 14px;
  color: #585756;
}

ul {
  list-style-type: none;
}

/* imposto padding a tutti i container della pagina */
.container {
  width: 80%;
  margin: 0 auto;
  height: 100%;
}
/* FINE REGOLE GENERALI */

.clearfix::after{
  content: '';
  display:table;
  clear:both;
}
/* SFONDO MENU-TOP */
 .background {
  background-color: #DFF4F2;
  border-bottom: 1px solid #585756;
  height: 70px;
  width: 100%;
}
/* COLONNE MENU-TOP */
.menu-top .col {
  float:left;
  height: 20px;
  width: 50%;
}

.menu-top li {
  display: inline-block;
  text-decoration: none;
  margin-top: 20px;
}
/* inizio menu-top colonna sinistra */
.left .contactus {
  border-left: 2px solid #585756 ;
  padding-left: 10px;
  text-decoration: none;
  color: #585756;
}
.left select {
  padding-right: 10px;
}
/* fine menu-top colonna sinistra */

/* inizio menu-top colonna destra */
.right {
    text-align: right;
}

.right .login {
  display: inline;
  border: 1px solid #FF5733;
  border-radius: 4px;
  padding: 6px;
  color: #FF5733;
  background-color: white;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
}
.right .gethubspot {
  display: inline;
  border: 2px solid #F7670F;
  border-radius: 4px;
  padding: 6px;
  color: white;
  background-color: #FF5733;
  text-decoration: none;
}
.right .fa-search {
  color: #0FF7DC;
}
/* fine menu-top colonna destra */
/* fine menu top */

/* inizio header */
/* inizio menu header */
.clearfix::after{
  content: '';
  display:table;
  clear:both;
}
.navigation {
  height : 70px;
}

.navigation .col {

  width: 50%;
  float:left;
  padding-top: 20px;
}
.navigation .menu li{
  padding: 20px;
  display: inline;
  font-size: 13px;
}
.menu {
    text-align: right;
}
.navigation .menu a {
  text-decoration: none;
  color: #585756
}
/* fine menu header */
 header .background-header{
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: 100%;

  background-position: 50% 72%;
  border-bottom: 3px solid #585756;
}

/* inizio teaser */
header .teaser {
 width: 600px;
 padding-top: 60px;

}

header .teaser h2 {
  font-size: 40px;
  margin-bottom: 30px;

}

.cta {
  display: inline;
  border: 2px solid #F7670F;
  border-radius: 4px;
  padding: 13px;
  color: white;
  background-color: #FF5733;
  text-decoration: none;
}
.teaser .smalltext {
  font-size: 10px;
  margin-top: 40px;
}
.teaser p {
  margin-bottom: 40px;
}
/* fine teaser */
/* fine header */

/* inizio riga azzurrina */
.line {
  background-color: #50DCCE;
  height:80px;
  border-bottom: 3px solid #585756;
}
/* fine riga azzurrina */

/* inizio main */
main .background-hub {
  background-color: #DFF4F2;
}

main .container {
  padding-top:30px;
  padding-bottom:30px;
  width: 80%;
  margin: 0 auto;
  height: 100%;
}

/* inizio better con cubo  */
main .better {
  text-align: center;
  margin-bottom:30px;
}

main .cubo {
  height: 170px;

}
/* fine better con cubo */

/* inizio colonna orizzontale free hubspot crm */
.hubspotcrm {
  background: white;
  border: 2px solid white;
  border-radius: 4px;
  padding:40px;
  }

.book {
  height: 120px;
  display: block;
  margin: 25px auto;
}
.hubspotcrm .right {
  width: 70%;
  text-align: left;
  height: 100%;
}
.hubspotcrm .left {
  width: 30%;
  text-align: center;
  height: 100%;
}

.right h6{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;

}
.right hr {
  width: 350px;
  height: 3px;
  background-color: #585756;
}

.hubspotcrm::after{
  content: '';
  display:table;
  clear:both;
}

.hubspotcrm .colonna {
  float: left;
}

.right .column {
  float:left;
  display: inline-block;
  padding-top: 20px;
  text-align: left;
  padding-bottom:20px;
}
 i {
  padding-right: 6px;
  padding-left: 6px;
  color: #585756;
}

.column::after{
  content: '';
  display:table;
  clear:both;
}
/* fine colonna hubspot crm */

/* inizio tre colonne con hub */
.hub .col {
  float: left;
  text-align: center;
  margin-top:30px;
  border: 2px solid white;
  border-radius: 4px;
  text-align: center;
  background: white;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
}

.hub .sales {
  margin-left: 60px;
  margin-right: 60px;
}
.hub img {
  height: 90px;
}
.hub h4 {
  font-size: 18px;
  padding: 20px;
}
.hub h3 {
  padding: 20px;
  font-size:15px;
}
.hub hr {
  margin-top: 50px;
  width: 70%;
  display: inline-block;
}

.hub .cta {
  margin: 20px;
  display: inline-block;
}

.col .features li {
  text-align: center;
  display: block;
}
/* fine tre colonne con hub */

/* inizio parte blu */
.backgroundblue {
  background-image: linear-gradient(to right, #25A2D4, #0CDFCC);
  color:white;
  text-align: center;
}
.backgroundblue h2 {
  padding-bottom: 20px;
}
.backgroundblue p {
  padding: 20px;
  font-size: 13px;

}
/* float left alle colonne di entrambe le righe */
.rowtop .column {
  float:left;
  text-align: center;
  width: 280px;
}
.rowbottom .column {
  float:left;
  text-align: center;
  width: 280px;
}
/* inizio bordi */
.rowtop .one {
  border-right: 1px solid white;
}
.rowtop .two {
  border-right: 1px solid white;
}
.rowtop .three {
  border-right: 1px solid white;
}

.rowbottom .one {
  border-top: 1px solid white;
  border-right: 1px solid white;
}
.rowbottom .two {
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px solid white;
}
.rowbottom .three {
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px solid white;
}
.rowbottom .four {
  border-top: 1px solid white;
  border-left: 1px solid white;
}
/* fine  bordi */

.column h2 {
  font-size: 40px;
  padding-left: 80px;
  padding-right: 80px;
}
.column i {
  font-size: 40px;
  color: white;
  padding-top: 20px;
}
/* fine parte blu */

/* inizio parte con aziende patner */
.rowone .colonna {
  float: left;
  text-align: center;
}

.rowone p {
  padding-top: 30px;
  padding-bottom: 30px;
}
.rowtwo p {
  padding-top: 30px;
  padding-bottom: 30px;
}

.rowtwo .colonna {
  float: left;
}

.rowone img {
  height: 40px;
  padding: 8px;
}
.rowtwo img {
  height: 300px;
  padding-left: 190px;
}

.rowone .due {
  width: 70%;
}

.rowone .uno {
  width: 30%;
}
.rowone  h2 {
  font-size: 40px;
  padding-bottom: 12px;
}
.gethubspot {
  display: inline;
  border: 2px solid #F7670F;
  border-radius: 4px;
  padding: 6px;
  color: white;
  background-color: #FF5733;
  text-decoration: none;
}
/* fine parte con aziende patner */

/* inizio footer */
footer {
  background-color: #374460;
  color: white;
}
footer .col {
  float:left;
  width: 25%;
  text-align: left;
}

.col i {
  color: white;
  font-size: 20px;

}
footer h6 {
  font-size: 13px;
  padding: 15px;
}
footer li {
  padding: 5px;
}

footer .contact {
  border: 1px solid white;
  border-radius: 4px;
  padding: 6px;
  color: #374460;
  background-color: white;
  text-decoration: none;
  margin: 17px;

}

span {
  text-align: center;
}
hr {
  margin: 16px;
}
/* fine footer */
